[2016-05-20 09:48] sjperkins opened #50 "Use MeasurementSet.requiredTableDesc to avoid empty MS usage when creating a new MS"
Opening this as a placeholder, enhancement issue.

Currently katdal uses an empty MeasurementSet to create a new one. Members of the SDP team have indicated that this is not ideal:
1. MS are brittle.
2. Reordering an existing MS to take new problem sizes is probably inefficient from a disk access POV.

python-casacore is actively looking at exposing further MS functionality in https://github.com/c

[2016-08-25 15:47] adriaanph opened #59 "update scans() to correctly propagate cascaded select()"
die dataset.scans() kode herstel nie die selection filter heeltemal reg nie - dit ignoreer "cascaded selects".

soos tans op http://kat-imager.kat.ac.za:8888/notebooks

[code]

presies dielsefde gebeur as mens die laaste "data.select" hierbo verwyder.

terugvoer van ludwig schwardt

[2016-12-13 13:09] gijzelaerr opened #68 "can't specify output folder of MS"
I need to be able to specify where to write the resulting MS to. This is implicitly solved in this PR https://github.com/ska-sa/katdal/pull/67

[2016-12-15 08:42] gijzelaerr commented on #68
should be fixed in 0.7

[2016-12-15 08:42] #68 closed

[2017-03-09 15:55] radiosky-abhik opened #78 "MStoh5"
HI Ludwig,
                 I find a script which can convert the .h5 files to MS to do some processing on a MeerKat data.  I now need some script which can convert back from MS to .h5 files. Is there some script like this?

Cheers,
 Abhik

[2017-03-09 22:47] ludwigschwardt commented on #78
Hi Abhik,

Unfortunately this is currently a one-way process...

Regards,

Ludwig

On 9 March 2017 at 17:55, radiosky-abhik <notifications@github.com> wrote:

[2017-03-10 07:41] radiosky-abhik commented on #78
Hi Ludwig,
                 Thanks. Are you working with (or you know some people in
SKA office who are) MeerKat single dish data ? I have just started to look
into few data sets (1472018997.h5, 1474580092.h5, 1474580580.h5) few days
ago, I am mainly interested in initially to study the noise properties and
the calibration issue for future Intensity mapping problem.
                 Is there some

[2017-03-13 07:55] ludwigschwardt commented on #78
Yes I am familiar with the single-dish data.

We have a script (katsdpscripts/RTS/RFI_Report/rfi_report.py I think) that
can flag autocorrs (although it is tuned for crosscorrs). Ask @mauch about
it.

On 10 March 2017 at 09:41, radiosky-abhik <notifications@github.com> wrote:

[2017-04-07 04:22] bennahugo opened #81 "Splitting an MS created with h5toms fails"
Failing to split out a calibrated field from duel correlation data in CASA 4.7. The error isn't particularly informative, so not sure what triggers this. Anyone has any ideas of what CATEGORY refers to? The closest thing I can find in memo 229 is the FLAG_CATEGORY field, but that looks fine to me. Even more puzzling things work fine on single correlation data taken earlier:
[code]

[2017-04-07 04:22] bennahugo commented on #81
The oldsplit task does exactly the same.

[2017-04-07 06:04] bennahugo commented on #81
Retried with h5toms prior to @mauch 's single correlation fixes and @sjperkins 's fixed width column fixes. Works there.

[2017-04-07 06:05] bennahugo commented on #81
Note however that I get warnings:
[code]

[2017-04-07 09:44] mauch commented on #81
So it turns out the changes in PR79 were not as benign as I first thought. The issue here should hopefully be solved by [PR82](https://github.com/ska-sa/katdal/pull/82)

[2017-06-13 10:32] bennahugo commented on #81
Solved mark as closed

[2017-06-13 10:32] #81 closed

[2017-06-13 10:35] bennahugo opened #86 "h5toms fails to extract some scans"
This may be a problem with the h5 file itself - fresh installation of master into a venv:
[code]

[2017-06-13 10:42] bennahugo commented on #86
@spassmoor Not sure if this is an observational issue - maybe the last scan(s) weren't dumped correctly or the metadata is wrong?

[2017-06-13 11:24] ludwigschwardt commented on #86
Oops, that's a katpoint error... Please update your katpoint if using the GitHub repo. I still have to make a new PyPI release.

[2017-06-13 12:47] bennahugo commented on #86
Thanks @ludwigschwardt

[2017-06-13 15:28] #86 closed

[2017-06-14 09:35] spassmoor opened #88 "uvw coordinates calculated from wrong coordinate centre"
Looking a a data set 	1497034809.h5 where the dataset contains multiple scans where the pointing centre is kept constant but the phase centre is moved by 15 degrees. I have notice that the uvw coordinates have been calculated from the antenna pointing target and not the correlater's phase centre.

[2017-08-02 15:03] ludwigschwardt commented on #88
Thanks for this! Please make a JIRA too... I nearly forgot about this and just randomly stumbled onto it again.

[2017-08-08 14:44] foxmouldy opened #93 "UVW Sign Convention Issue"
We've converted DEEP2 data using `h5toms.py`, which seems to produce data which has a 180-degree rotation due to UVW sign convention issues.

Now -- we are using KATDAL version 0.7.1. as built from KERN-2, and as released in January 2017. I see that @bmerry committed an change in April 2017 to "Fix upside-down MeerKAT images". Does this mean that our version of `h5toms.py` does/does-not make the a

[2017-08-08 16:38] ludwigschwardt commented on #93
Yes,

Please update to katdal 0.8 (via pip install) or the master branch here on
github. That in turn needs the latest katpoint (0.7), just to be sure.

On Tue, 08 Aug 2017 at 16:44, Bradley Frank <notifications@github.com>
wrote:

[2017-08-08 17:48] foxmouldy commented on #93
Thanks Lud! You legend!

[2017-08-10 13:56] #93 closed

[2017-10-19 21:04] SpheMakh opened #99 "add a WEIGHT_SPECTRUM column"
Not having these weights may be limiting our dynamic range a bit. It is briefly mentioned in this PR https://github.com/ska-sa/katdal/pull/62, but seems to have fallen through the cracks.

[2017-11-08 12:10] SpheMakh commented on #99
I now have a tool to calculate the weights using the [spec. sensitivity stats](http://public.ska.ac.za/meerkat/meerkat-schedule), but adding the column to the MS is a bit involved. So we just need it to exist in the MS, along with a SIGMA_SPECTRUM column.

[2017-11-08 13:24] SpheMakh commented on #99
Fixed, I'll use our [msutils](https://github.com/SpheMakh/msutils/issues/5) to create and populate these columns.

[2017-11-23 12:50] SpheMakh commented on #99
Reopening based on discussion at thermal noise breakout session

![back](https://media.giphy.com/media/yj5UdA4elp8Wc/giphy.gif)

[2018-01-10 15:59] sjperkins opened #108 "Centre frequency is reported incorrectly on older files"
katdal version is `0.9.dev569+master.1a0f71c`

For the below observation, the Centre Frequency is reported as .428Ghz. The channels then get shifted accordingly and we end up with a band of 0.0 - .856 Ghz.

[code]

This value seems to be obtained from  `center_freq` attribute on `TelescopeModel.cbf`:

[code]

[2018-01-10 16:12] sjperkins commented on #108
This may have been caused by https://github.com/ska-sa/katdal/pull/105

[2018-01-12 08:39] #108 closed

[2018-01-22 08:58] spassmoor opened #114 "katdal not finding TelescopeState receiver serial number sensor due to ignoring the band"
For example in the file produced on the AR1 correlator :
[code]
The h5 file has the sensors :
[code]
But the code does not examine the band :
[code]

[2018-01-22 11:22] ludwigschwardt commented on #114
Argh, what a mess - blame it on RTS :-P

The real digitiser sensor changed its name to `dig_l_band_noise_diode` and there was a PR ([katsdpingest #189](https://github.com/ska-sa/katsdpingest/pull/189)) to deal with this in August 2017. As part of this, I also took the liberty to rename `dig_l_band_noise_diode` to `dig_noise_diode` in cam2telstate since only one band will be active at a time anyway

[2018-01-23 08:23] #114 closed

[2018-01-24 06:37] bennahugo opened #116 "Herd-based sensor readings"
@spassmoor
Currently h5toms simply uses the first antenna by default as a "reference antenna" for sensor readings, in particular to work out scan boundaries for one:
https://github.com/ska-sa/katdal/blob/master/katdal/h5datav3.py#L401
and
https://github.com/ska-sa/katdal/blob/master/katdal/h5datav3.py#L538

This fails for datasets where the first antenna isn't tracking properly for some reason. Is

[2018-01-24 08:17] ludwigschwardt commented on #116
I like your terminology :-)

While this is a good workaround, the real solution we are working towards is a *prescriptive* sensor as opposed to a *descriptive* one. We want to know what the telescope is supposed to do, and don't care what it's actually doing... This will introduce a subarray-level activity sensor (`obs_activity`, most likely). Any antenna that disagrees with the plan can then be f

[2018-01-24 08:20] spassmoor commented on #116
Yes . I idea being that the data is split into scans based on what the telescope was meant to do. but then the data is flagged based on what each telescope was doing. This should not be to hard to do since we already have activity flagging per antenna / per baseline .

[2018-01-24 10:20] bennahugo commented on #116
@ludwigschwardt yup that sounds even better :)

[2018-02-14 19:18] sjperkins commented on #50
Closed by #75

[2018-02-14 19:18] #50 closed

[2018-04-13 14:17] bennahugo opened #135 "Missing AUTOCORRS"
@ludwigschwardt
Running katdal 0.9.5 to convert some recent skarab data to MSs for processing. I use autocorrelations to monitor power levels across all fields and preflag suspect data before doing calibration.

When running h5toms without -a no autocorrelations are dumped:
[code]

Same thing happens on an older dataset 1477074305.h5

Funny enough when you do specify -a the autocorrelations are ad

[2018-04-24 08:01] ludwigschwardt commented on #116
Now that we have an `obs_activity` sensor I'm going to base the scan boundaries on that instead. The dishes are already "quack-flagged" when they are not on target.

[2018-04-25 18:19] rhysaph opened #141 "pip failure"
Hi,

When I try to install katdal with pip I get the following.
Am I doing anything wrong?

Thanks,
Rhys Morris

 pip3.6 install katdal --user
Collecting katdal
  Downloading https://files.pythonhosted.org/packages/cd/1f/1aa5d487dc3e28d180cabdc2fd0ce158455e557bdbe1a2ec1cf57c23434a/katdal-0.9.5.tar.gz (129kB)
█████████████████| 133kB 359kB/s
    Complete output from command python setup.py egg_info

[2018-04-25 20:26] ludwigschwardt commented on #141
This is somewhat embarrrassing... katdal currently only works on Python 2. I’m upping the priority on Python 3 support!

[2018-05-03 09:59] bennahugo opened #143 "Missing dependencies on master"
Following the authenticated guide. The following dependencies are missing:
[code]

[2018-05-03 10:42] ludwigschwardt commented on #143
See PR #139 :-) You might also want to install `python-lzf`.

[2018-05-03 12:52] ludwigschwardt commented on #143
Actually, PR #139 still needs to get updated requirements - let's leave that for the next PR. Also, you probably want to install katdal as:

```pip install katdal[ms,s3]```

since S3 and MS support is effectively optional.

[2018-05-08 07:10] bennahugo opened #146 "SPECTRAL_WINDOW subtable is missing with new RDB format conversion"
hugo@stevie /scratch/bhugo/G330/msdir/raw                                                                                                                                                                                                                           [19:03:34]

AOFlagger 2.9.0 (2016-12-20) command line application
This program will execute an RFI strategy as can be created with the RFI g

[2018-05-08 07:45] bennahugo commented on #143
thanks @ludwigschwardt

[2018-05-08 07:46] bennahugo commented on #135
@bmerry confirmed this is fixed on your branch:
[code]

[2018-05-08 07:47] ludwigschwardt commented on #146
Was it there with HDF5 conversion?

[2018-05-08 07:53] bmerry commented on #135
That branch has already been merged, so I'm going to close.

[2018-05-08 07:53] #135 closed

[2018-05-08 08:09] bennahugo commented on #146
@ludwigschwardt there is no HDF5 in the archive for this observation - it is quite large.  I'm see @bmerry  merged in some of the very latest fixes, so I will retry with the latest master. I will let you know by end of day if it converted successfully.

[2018-05-08 08:36] bmerry commented on #146
I don't think I've touched the code that generates those subtables. I can take a look, but it will be a while because I'm on a critical path to get all the SDP infrastructure upgraded during the current downtime window.

[2018-05-08 08:38] bennahugo commented on #146
No problem @mauch successfully converted to uvfits - will convert it to uvfits and convert it to MS with CASA.

[2018-05-08 09:10] ludwigschwardt commented on #146
... and that way you also get valid weights :-)

[2018-05-08 09:32] bmerry commented on #146
I've just checked on a small observation and I'm getting a SPECTRAL_WINDOW subtable. Can you point me at the specific observation you're trying to convert?

[2018-05-08 09:41] bennahugo commented on #146
@bmerry http://stgr1.sdp.mkat.chpc.kat.ac.za:7480/1524852817/1524852817_sdp_l0.full.rdb

[2018-05-08 10:23] sirothia opened #147 "Cannot convert 1525016070 rdb dataset to ms"
Unable to convert
http://stgr1.sdp.mkat.chpc.kat.ac.za:7480/1525016070/1525016070_sdp_l0.full.rdb
dataset to ms, whereas it is possible to convert dataset just before and after this.
The error it pasted below:

Traceback (most recent call last):
  File "/usr/local/bin/mvftoms.py", line 800, in <module>
Using 'pyrap' casacore binding to produce MS
Accessing http://archive-gw-1.kat.ac.za:7480//auth.

[2018-05-08 10:32] ludwigschwardt commented on #147
That looks like a missing chunk in the archive. I'm working on a fix for this that should be out by the end of the week. We should just check whether there are more missing chunks or if this is an isolated case.

If you are impatient, just add the option `--quack=4` to `mvftoms` and you should hopefully be fine.

[2018-05-08 11:16] lmzxqtom commented on #147
@ludwigschwardt I can confirm that the  chunk is in the store: s3://1522237642_sdp_l0/weights_channel/00003_01024.npy

[2018-05-08 11:27] lmzxqtom commented on #147
@ludwigschwardt good call. Sorry paste error.

Correct - s3cmdl ls s3://1525016070_sdp_l0/weights_channel/00003* only matches one file:
s3://1525016070_sdp_l0/weights_channel/00003_00000.npy

[2018-05-08 11:48] bmerry commented on #146
I didn't want to wait forever to convert the file so I stuck in a break at the end of the scan loop, but I seem to get a SPECTRAL_WINDOW subtable from that input.

What command-line are you using?

[2018-05-08 13:18] bennahugo commented on #146
@bmerry I asked for full correlation data:
[code]

[2018-05-08 14:15] bmerry commented on #146
Sorry, still haven't been able to reproduce with the same flags (although again, I'm breaking out of the conversion loop early to run in a sane amount of time). I'm running v0.9.5-80-g9f74805.

[2018-05-09 03:37] bennahugo commented on #146
Sorry for the wild goose chase I must have had a slightly broken katdal last week Wednesday when I started my conversion. The latest master works.

[2018-05-09 03:37] #146 closed

[2018-05-22 20:50] bennahugo opened #156 "CASA applycal-able tables"
So I have implemented a CASA caltable dumper in cubical - took a B table and stripped it of all metadata and refilled it - guess where I got the idea ;) See e.g https://github.com/ratt-ru/CubiCal/blob/master/cubical/database/casa_db_adaptor.py

 I can confirm B-jones works viewing and applycal works. By the looks of it it is not enough to set G or K Jones in the keywords of the calibration table -

[2018-09-06 13:06] SpheMakh opened #184 "missing source.timestamps in 1535789408_sdp_l0.full.rdb"
I'm getting this error when converting this data set into an MS using mvftoms.py.

[code]

[2018-09-07 10:01] ludwigschwardt commented on #184
I can't reproduce this with the latest katdal master. The following succeeds on imgr-com-4:

[code]

I'd still like to know what fixes this since @vasaantk had this problem too.

[2018-09-07 16:00] SpheMakh commented on #184
I switched to master and that problem went away. But now I'm getting different errors:

1. The DaskLazyIndexer

[code]

I fixed by changing `dask_getitem` to `__getitem__` in lines 72-74 of mvftoms.py

2.  All sources must be dask objects

[code]

:sos:

[2018-09-09 15:37] bmerry commented on #184
@SpheMakh see if #185 fixes this for you.

[2018-09-10 06:13] #184 closed

[2018-09-10 08:45] SpheMakh commented on #184
That did it. Thanks @bmerry

[2018-09-11 11:34] sirothia opened #186 "Not converting all scans in archive data to ms and Read timed out"
mvftoms.py  does not convert all scans in the archive data to ms. Each time I try generates different ms with several scans missing. Also sometimes gives Read timed out error somewhere midway and stop converting. Have tried this on following datasets

1536252666_sdp_l0.rdb
1536431487_sdp_l0.rdb
1536438420_sdp_l0.rdb
1536607816_sdp_l0.rdb

log file for two of conversion using 1536252666_sdp_l0.rdb

[2018-09-11 12:06] bmerry commented on #186
The read timeout is most likely because @ludwigschwardt seems to like setting short timeouts for some reason. Try searching for `timeout=10` in your katdal installation (should be in chunkstore_s3.py) and changing it to something much bigger e.g. `timeout=300`.

I can't imagine what would cause scans to be skipped non-deterministically, but maybe see if increasing the timeout fixes that problem to

[2018-09-17 07:45] bmerry commented on #186
@sirothia @spassmoor did the suggested workaround work?

[2018-09-17 09:48] spassmoor commented on #186
@bmerry  the problem re-occurered for me so I rewrote my data reading function to read a scan (~50 reads) at a time for all antennas instead of originally reading for one Antenna at a time , one scan at a time  ( about ~3000 reads).  This seems to work , also 20 times faster read times.

[2018-09-17 10:38] ludwigschwardt commented on #186
@sirothia, just be aware that MS conversion only considers scans where the reference antenna **'track'**s an **radec** target, so any 'slew' or 'scan' antenna activity, or azel or satellite targets, are ignored.

[2018-09-20 06:11] bmerry commented on #141
katdal now supports Python 3, so this should work now.

[2018-09-20 06:11] #141 closed

[2018-09-20 06:13] bmerry commented on #147
katdal now deals gracefully with missing chunks in the archive (they're flagged), so I'm going to close this. Reopen if it's still a problem.

[2018-09-20 06:13] #147 closed

[2018-09-20 06:17] bmerry commented on #143
@bennahugo is this resolved now?

[2018-09-20 07:08] ctgschollar commented on #186
So i tried using mvftoms a quite heavily over the last few days. I found that the timeouts occur whether you use the haproxy or any of the gateways into ceph. However, once I used the suggestion by @bmerry I found I could quite happily convert observations without a problem.

[2018-09-20 08:28] #186 closed

[2018-09-25 14:07] SpheMakh opened #190 "Getting corrupt MS from mvftoms"
I tried to inspect the MS using CASA listobs task and got the following error:

The mvf file I used is http://stgr1.sdp.mkat.chpc.kat.ac.za:7480/1535789408/1535789408_sdp_l0.full.rdb

[code]

I've been struggling to convert this file to an MS for almost a month now. Is it possible for someone who more familiar with katdal to get me the MS from it?

[2018-09-25 14:18] SpheMakh commented on #190
The MS is on imgr-com-1 at

imgr-com-1:/data/sphe/NGC4993_SEPT01/msdir/NGC4993_OFF_SEPT0118_RAW.ms

[2018-09-25 14:38] sratcliffe commented on #190
I will have a look at this later this evening and see if it can be recovered.

[2018-09-25 17:17] sratcliffe commented on #190
@SpheMakh - looks like I have generated a valid MS (at least listobs() on it works OK). Busy copying it onto imgr-com-1 now - ETA around 2 hours - will let you know when it is done.

[2018-09-25 17:27] SpheMakh commented on #190
Thanks! @sratcliffe

[2018-09-25 20:56] sratcliffe commented on #190
Hey @SpheMakh - the data is available on imgr-com-1:

/data/sphe/NGC4993_SEPT01/input_new

Let me know how it goes...

[2018-10-15 07:22] ifornax opened #193 "mvftoms.py crashing on 'chunk_name not found'"
Hi

I have been running the mvftoms.py on the recent 1K dataset 1539238540_sdp_l0.full.rdb  on chpc-com4

Please find the error message I am getting:

[code]

[2018-10-15 07:48] ludwigschwardt commented on #193
You need the master branch to open the latest files... I'll need a new release soon!

[2018-10-15 09:35] ludwigschwardt commented on #193
Try the latest release (0.11) and let me know if it solves your problem.

[2018-10-15 11:42] ludwigschwardt commented on #193
Looks good! The cal solution tables are still a work in progress anyway, so I would not worry too much.

[2018-10-15 11:42] #193 closed

[2019-01-14 15:20] ludwigschwardt commented on #88
The latest v4 data sets use the correct CBF target by default (i.e. the delay tracking centre).

We could backport this to the HDF5 datasets if needed (see JIRA SR-933), but closing for now.

[2019-01-14 15:20] #88 closed

[2019-02-05 12:28] astroJyWang opened #218 "what's the proper way to read MeerKAT visibility out?"
@ludwigschwardt
if I write
   vis = data.vis

it's quick

but if I write
   vis = data.vis[:,:,:128]

it is a long long time...

The reason why it is slow seems to be caused by the limited network speed (10MBps for me) or inefficient readout method (e.g., maybe continuously reading can be much more fast?).
So what is the proper way to read out a segment of the visibility data (for me I'm intereste

[2019-02-05 13:07] ludwigschwardt commented on #218
There is a big difference between `data.vis` and `data.vis[:]`. The first one is a lazy representation of your data, but not the data itself. The second one fetches the actual data. That's why the latter is slow :-)

The main issue with downloads is the chunking scheme. The data is split into smallish chunks (about 10 MB is a typical size). It is first split in time (i.e. every dump has a differen

[2019-02-06 12:18] astroJyWang commented on #218
so, if we move the data to IDIA and do analysis there, the chuck problem can be avoided?
and, why MeerKAT choose rdb instead of h5 now? thanks.

[2019-02-06 13:47] ludwigschwardt commented on #218
Possibly, if you have fast access to the distributed filesystem where the data will be stored.

We had to move away from a single file because it would be too large for the datasets we expect, hence the chunks. We then chose RDB for metadata because it is closer to our online representation (a Redis database).

[2019-02-08 10:07] astroJyWang commented on #218
should I make a new RDB to visit data in IDIA?
our data has been moved to IDIA. I found the rdb on IDIA is exactly the same as that in SKA. when I tried to load data in, as
 data=katdal.open('1549022125_sdp_l0.full.rdb')
the error is
StoreUnavailable: HTTPConnectionPool(host='archive-gw-1.kat.ac.za', port=7480): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.HT

[2019-02-12 11:05] PeterKamphuis opened #222 "Importing memory module fails"
katdal seems to be unable to find katsdptelstate.memory

`meerkathi - 2019-02-12 12:29:45,475 INFO - running: mvftoms.py --output-ms /home/jenkins/msdir/1477074305.ms --tar  --channel-range 2525,2776 --model-data  /input/1477074305.h5

meerkathi - 2019-02-12 12:29:45,475 INFO - Traceback (most recent call last):

meerkathi - 2019-02-12 12:29:45,475 INFO -   File "/usr/local/bin/mvftoms.py", line 4

[2019-02-12 11:24] bmerry commented on #222
You need to update katsdptelstate to the latest version (Github master). @ludwigschwardt is preparing a new PyPI release of katsdptelstate for this at the moment.

[2019-02-12 15:42] ludwigschwardt commented on #222
Please try the latest katdal 0.12 (released a few minutes ago).

[2019-02-12 20:55] ludwigschwardt commented on #116
Please test the latest katdal 0.12 and let me know if that solves your problem :-)

[2019-02-12 20:56] ludwigschwardt commented on #143
@bennahugo, another ping now that we are on katdal 0.12...

[2019-02-13 08:03] bennahugo commented on #143
Sorry missed this one when I was on sick leave. It looks like it has been fixed a long time ago, thanks. Closing

[2019-02-13 08:03] #143 closed

[2019-03-05 12:52] richarms commented on #218
Slightly tangentially: how might one write out a .ms file* from a katdal.VisibilityDataV4 object that has undergone a select operation on it? _i.e._:

d=katdal.open('1599998888_sdp_l0.full.rdb')
d.select(timerange=('2019-03-05 22:00:00', '2019-03-05 23:00:00'), freqrange=(1400e6, 1420e6), scans='track')
d.toms('msname.ms') !??

* why would I want to do this? ILUFU pipelines currently need .ms file

[2019-03-05 13:25] ludwigschwardt commented on #218
That is a long-standing dream of mine :-) The short-term solution is to hack `select` into your own copy of `mvftoms.py`.

There is some thought required on how to handle calibration and averaging (pre or post selection), but I think this is a worthy pursuit. Maybe make a ticket :-)

[2019-04-01 12:49] bennahugo opened #237 "botocore 403 error with katdal installed on com07"
Not sure why this is being raised (other datasets of the same period downloads successfully):
Observation: 1527694287 (2018/05/30 - commissioning dataset):
[code]

[2019-04-01 12:50] bennahugo commented on #237
Retrying now with latest katdal from PyPI

[2019-04-01 14:07] bennahugo commented on #237
Slightly different trace with the latest release from PyPI, but still a 403. I'm guessing the archive for that particular observation has been corrupted somehow?
[code]

[2019-04-01 14:11] ctgschollar commented on #237
This is an issue with Ceph, not katdal. I can fix it for you.

[2019-04-01 14:12] ctgschollar commented on #237
Try it again

[2019-04-01 14:51] bennahugo commented on #237
Hi @ctgschollar. Nope still failing at the same point.

[2019-04-01 15:05] bennahugo commented on #237
Btw if it is only this archive that you can detect an error for from your end I think it is low priority for fixing. Luckily there was an uncorrupted dataset just the day previous.

[2019-04-02 08:19] lmzxqtom commented on #237
@bennahugo there was no bucket policy set for the s3 bucket _'1527694287_sdp_l0'_. I've tested and access is now granted.
As to why the policy was not originally set, it's probably before we started using policies to manage bucket access.

[2019-04-03 07:33] bennahugo commented on #237
@lmzxqtom thanks running it now. Will close the ticket if it runs through.

[2019-04-03 08:03] lmzxqtom commented on #237
@bennahugo great! Keep me posted.

[2019-04-03 08:36] bennahugo commented on #237
Yup she now works fine. Not sure why the permissions didn't propogate properly in that one instance, but may just be a planetary alignment issue

[2019-04-03 08:36] #237 closed

[2019-04-03 08:37] bennahugo commented on #237
Thanks @lmzxqtom

[2019-04-05 12:49] ludwigschwardt commented on #59
This now has a [JIRA ticket](https://skaafrica.atlassian.net/browse/SR-1732) 😄

[2019-04-05 14:50] ludwigschwardt commented on #222
Has this been resolved?

[2019-04-05 14:54] ludwigschwardt commented on #99
I'm back too :smile:

This has now been implemented in #231 and should be in the next release (v0.13). Please test!

[2019-04-05 14:55] ludwigschwardt commented on #116
Can we close this?

[2019-04-05 14:56] SpheMakh commented on #99
Awesome!

[2019-04-05 14:58] SpheMakh commented on #99
Good things come to those who weight!

[2019-05-06 13:19] ludwigschwardt commented on #99
Can I close this?

[2019-05-06 13:21] ludwigschwardt commented on #190
Did you resolve this, @SpheMakh?

[2019-05-06 13:34] SpheMakh commented on #99
Yep

[2019-05-06 13:34] #99 closed

[2019-05-06 13:34] SpheMakh commented on #190
Yes, it was resolved.

[2019-05-06 13:34] #190 closed

[2019-06-05 11:21] telegraphroad opened #246 "the augment script doesn't exist"
When trying to read an h5 file with the open function, I get the error "HDF5 file not augmented - please run augment4.py(provided by k7augment package). There are several similar mentions to augment scripts throughout the code with package names like "k7augment", "k7_augment" and "katsdisp", but I can't seem to find these packages and/or scripts anywhere.

[2019-06-05 11:24] ludwigschwardt commented on #246
Hi Saba,

Please send me the name of the file and I'll have a look.

[2019-06-05 11:29] telegraphroad commented on #246
Thanks Ludwig!

File: /katdal/h5datav1.py         Lines 255-257
File: /katdal/h5datav2.py         Lines 386-388

And some 8-9 yo commits

[2019-06-05 11:46] ludwigschwardt commented on #246
Sorry, I meant the name of the h5 file 😃

[2019-06-05 11:49] telegraphroad commented on #246
I'm a bit confused, you need the name of the h5 file I'm working on?It is a file I got from my supervisor for my thesis. Anyways, the name is "L559133.MS_extract.h5"

[2019-06-05 12:00] ludwigschwardt commented on #246
I had hoped you got the file from our archive and I could independently have a look at it, but that file looks unfamiliar to me. I'm guessing it's not in the correct format anymore (especially if "extracted from an MS"), hence the request for augmentation. I would need to know more about it to help you.

[2019-06-05 12:04] telegraphroad commented on #246
Thanks for the update, these were just to get me started. I will ask for updated files, something not "MS_extract"ed.

[2019-10-01 15:37] #116 closed

[2019-10-02 16:03] bennahugo opened #267 "Switch to ignore fields and scans"
Would be fantastically helpful to have a switch to tell mvftoms NOT to dump certain fields for very large databases

[2019-10-02 16:08] bennahugo commented on #267
same goes for scans

[2019-10-02 18:49] bennahugo commented on #267
while I'm was at it I also did it for antennae. This is proving to be a very superficial change thanks to @ludwigschwardt's clever query magic... PR inbound

[2019-10-02 19:06] bennahugo opened #268 "Cascading selection results in superset of fields"
If I'm not missing something here the select method modifies the dataset in place. However, a cascading selection can result in a superset of the original selection. The following ought to be equivalent:
[code]

[2019-10-02 23:24] ludwigschwardt commented on #268
You are missing something... Please read the docs.

From the `DataSet.select` [docstring](https://github.com/ska-sa/katdal/blob/f7d7480a1004658b531dc406109cd0003de54463/katdal/dataset.py#L584):

        If there are multiple criteria on the same dimension within a select()
        call, they are ANDed together, while multiple items within the same
        criterion (e.g. `targets=['Hyd A', 'Vir A'

[2019-10-03 03:28] bennahugo commented on #268
Whoops my bad. I assumed the same behavior as cascading SQL selections. Lets close this one

[2019-10-03 03:28] #268 closed

[2020-02-14 12:13] spassmoor opened #283 "Need a nice file identifier from katdal object"
katdal needs to provided a unique identifier that can be used to produce file for data products that don't clobber each other.

I have used :
filename.split('/')[-1].split('?')[0]
where file name could be a file or a url with token.
But it is getting cumbersome .

[2020-03-26 14:57] SpheMakh opened #296 "mvtoms.py throws connection reset by peer error"
I'm using katdal 0.15 in an ubuntu 18.04 docker container

[code]

[2020-03-26 14:59] SpheMakh commented on #296
This is the ID of the data I'm trying to download 1584577476

[2020-04-07 13:59] SpheMakh commented on #296
@ludwigschwardt any ideas?

[2020-04-08 11:52] ludwigschwardt commented on #296
I could not recreate the error. The server typically slammed down the phone on their side with such an error message, indicating temporary overload which should go away if you try again later.

I'm still a bit sad since my latest improvements aim to catch these errors and turn them into flagged missing data without crashing the script. I'm keeping this open to remind me to catch this error too.

[2020-04-08 12:10] SpheMakh commented on #296
I've tried a couple of times already, and it fails at the same point each time; at around 500Gb. But I'll give it another go

[2020-04-08 12:14] ludwigschwardt commented on #296
Interesting... I tried the following:
[code]
It made it all the way to the end... Maybe try this on your setup.

[2020-04-08 12:15] bennahugo commented on #296
Update your katdal Sphe. If you are coming in from Rhodes you need the
latest and greatest! Had run into this network endpoint problem before

On Wed, Apr 8, 2020 at 2:10 PM Sphesihle Makhathini <
notifications@github.com> wrote:

--
--
Benjamin Hugo

PhD. student,
Centre for Radio Astronomy Techniques and Technologies
Department of Physics and Electronics
Rhodes University

Junior software develo

[2020-04-08 12:16] ludwigschwardt commented on #296
katdal 0.15 is pretty new (just pre-lockdown).

[2020-05-20 09:27] SpheMakh commented on #296
This only happens when I'm running in a docker container. It works fine outside a container. @ludwigschwardt are there any containers that use mvftoms that you know of, maybe I made a mistake in building mine.

[2020-05-20 09:33] spassmoor commented on #296
I have not had this issue running on my  docker container that has mvftoms.py . I should also point out  that I run it on one of the comm machines and this would mitigate any bad network problems.

[2020-05-20 09:40] SpheMakh commented on #296
@spassmoor I'm running on com08. Can you share the Dockerfile?

[2020-05-20 10:21] spassmoor commented on #296
[docker.zip](https://github.com/ska-sa/katdal/files/4656143/docker.zip)

Is this what you wanted ?

[2020-05-20 10:23] SpheMakh commented on #296
Thanks, I'll give it go.

[2020-05-20 10:30] ludwigschwardt commented on #296
Just remember that this is a public thread, in case your zip contains sensitive info :-)

[2020-05-20 10:37] spassmoor commented on #296
Other than my work email address and my preferred version of tornado I don't think there is anything sensitive in it.

[2020-07-07 22:58] adriaanph opened #309 "scans don't apply multiple negated tags, or a mix including at least one negated tag, correctly"
currently, select(scans=["~slew","~stop"]) does nothing. that's because the scan filters are ORed together. same with compscans.

the current behaviour is unexpected since it is reasonable to expect the rules of boolean algebra to apply, i.e. all un-negated tags get ORed while negated tags get ANDed with the rest.

the relevant code appears in katdal/dataset.py line 740, where negated tags are ORe

[2020-07-08 08:27] ludwigschwardt commented on #309
Why not just `select(scans=['track', 'scan'])`? Or is this trickier with compscans?

[2020-07-08 09:35] adriaanph commented on #309
indeed, there are many work-arounds possible, but the issue remains.

[2020-09-01 13:04] o-smirnov opened #312 "IndexError in mvftoms.py"
Happens both with current master and v0.16:

[code]

[2020-09-01 13:07] o-smirnov commented on #312
Ahh, perhaps this is user error. I specified two datasets, which it is clearly unable to concatenate. Running one at a time seems to work.

[2020-09-01 13:07] #312 closed

[2020-09-01 13:23] ludwigschwardt commented on #312
Thanks, I'll still have a look and see if I can improve the error reporting.

[2020-09-01 13:26] o-smirnov commented on #312
Come to think of it, I'm not sure what concatenation exactly means in this context. If it's the same as concatenating two separate MSs, then I don't see why it should fail like this. But maybe something else is meant?

[2020-09-29 15:58] MziyandaAstro opened #313 "Pickle valued telescope state"

[2020-09-29 16:03] MziyandaAstro commented on #313
Hi Guys.

I'm working on I'm trying to use katdal but the first run gives off an error
"The telescope state contains pickled values. This is a security risk, so is disabled by default. If you trust the source of the data, you can allow the pickles to be loaded by setting KATSDPTELSTATE_ALLOW_PICKLE=1 in the environment. This is needed for MeerKAT data up to March 2019."
I'm not too sure what this

[2020-09-29 16:31] ludwigschwardt commented on #313
Hi Mziyanda,

If you want to open older data files with a recent katdal, run the following shell command on the command line before running your script / ipython:
[code]
You can also add the line to your `~/.bashrc` or `~/.bash_profile` config file if you want to enable it all the time.

[2020-09-29 20:11] MziyandaAstro commented on #313
Thanks alot Ludwig.

CheersMzi
    On Tuesday, 29 September 2020, 18:31:41 SAST, Ludwig Schwardt <notifications@github.com> wrote:

Hi Mziyanda,

If you want to open older data files with a recent katdal, run the following shell command on the command line before running your script / ipython:
export KATSDPTELSTATE_ALLOW_PICKLE=1
You can also add the line to your ~/.bashrc or ~/.bash_profile confi

[2020-09-30 11:32] #313 closed

[2020-10-02 10:16] bennahugo opened #314 "POINTING table is not filled"
As discussed elsewhere in calibration implementation the (compulsory) POINTING table is not being generated. This means that the pointing information (necessary for applying the far field response to a model) is lost on datasets that were rephased.

I suspect the following is never actually added into the generation of the dataset:
https://github.com/ska-sa/katdal/blob/4898eafc1b04aad5378fbaed3cdc

[2020-10-02 10:30] bennahugo commented on #314
Relevant to issues https://github.com/ska-sa/codex-africanus/issues/227 and JSKenyon/QuartiCal#37

[2020-12-09 13:55] o-smirnov opened #315 "issue error message when dataset is not on Ceph"
Current behaviour is to return zero data, which is a handy way to mislead users into using up their disk quota!

[2021-02-10 15:36] #267 closed

[2021-02-25 18:42] sarrvesh commented on #296
Hey folks, I encountered the same issue using katdal 0.17. mvftoms.py failed for me with a connection time out error on my dataset (1596945366). I tried running @ludwigschwardt 's script above and that failed with the same time out error. Any ideas how to solve this issue?

[2021-02-25 19:28] bennahugo commented on #296
Need more info here.

Is this inside a container? If so please check that your docker bridge is
working properly by pinging or telnet inside your container.

If it is working can you indicate whether it fails part way through
download or right at the start. There might be a misconfigured end point or
something else not related to containerization.

On Thu, 25 Feb 2021, 20:42 Sarrvesh, <notificatio

[2021-02-25 20:05] sarrvesh commented on #296
I get the same error in a container environment and in a normal virtualenv installation.  It seems to fail right away with the following error:

[code]

My network, otherwise, works just fine.

[2021-02-25 20:27] ludwigschwardt commented on #296
Hi @sarrvesh, a **connection timeout** indicates that you could not even start to talk to the archive server, i.e. the phone just rings and rings and nobody picks up. This differs from a **connection reset** (the topic of this issue), which is the server slamming down the phone in the middle of your conversation.

I see that you are trying to connect to port 7480. Are you on a machine in the CHPC

[2021-02-25 20:58] sarrvesh commented on #296
Ah, interesting. Yeah, that works. Thanks very much.

[2021-02-25 21:17] ludwigschwardt commented on #296
Pleasure!

[2021-05-17 13:51] adriaanph opened #334 "cityhash issue with windows"
it's not possible to install cityhash under windows, unless one makes a few minor code modifications to it.
see
<https://github.com/tensorflow/datasets/issues/690>
<https://github.com/escherba/python-cityhash/pull/25>

unfortunately the cityhash maintainer doesn't seem to want to incorporate the required changes.

could you look into replacing cityhash with an alternative, perhaps like the tensorf

[2021-05-17 14:02] bmerry commented on #334
Does xxhash work on Windows? We added cityhash as a dependency because Dask needs some package for efficiently hashing arrays (otherwise it uses a very slow fallback), but Dask also supports xxhash, and if one uses the latest of everything then xxhash should be faster too (https://github.com/dask/dask/pull/7086).

[2021-05-17 14:37] adriaanph commented on #334
yes, seems to work fine (windows 10, python 3.9).

[2021-05-17 15:26] bmerry commented on #334
My suggestion is that for now we should just change the dependency on cityhash to exclude Windows, and you can install xxhash  instead if you find that things are slow.

[2021-05-17 15:26] bmerry commented on #334
My suggestion is that for now we should just change the dependency on cityhash to exclude Windows, and you can install xxhash  instead if you find that things are slow.

[2021-07-02 14:28] cchristelis commented on #283
@spassmoor , I think the change made in https://github.com/ska-sa/katdal/pull/337 addresses this enhancement request.

[2021-07-02 18:05] spassmoor commented on #283
Yes  thanks

[2021-07-02 18:05] #283 closed

[2021-07-02 20:53] ludwigschwardt commented on #283
There are probably a few `nice_filename` instances in `katsdpscripts` that can be updated :-)

[2021-07-28 08:32] adriaanph opened #342 "improve target_[xy] documentation"
current documentation in dataset.py does not state the sign convention adopted for target_x & target_y. consider adding something like one of the following:

a) "Conventions for target_x & target_y are described in katpoint.projection.", or

b) "The (target_x, target_y) coordinates correspond to the (L, M) direction cosines calculated in [Gre1993a]_ and
[Gre1993b]_." (adapted from katpoint.project

[2021-07-28 08:33] adriaanph commented on #342
@ludwigschwardt

[2021-07-29 13:24] spassmoor opened #343 "Log level for data read is too low"
When reading data that is not found in the archive the log level is set to debug and the missing data is filled in with zeros. This should be a warning level output
example
_DEBUG: Starting new HTTPS connection (1): archive-gw-1.kat.ac.za:443
DEBUG: https://archive-gw-1.kat.ac.za:443 "GET /1537611365_sdp_l0/correlator_data/00004_01920_00000.npy HTTP/1.1" 404 230_

[2021-07-29 21:58] ludwigschwardt commented on #343
First off, it's better to make SPR1 JIRA tickets if you are within SARAO to avoid falling off the radar :-D

Now, on missing data, there are three cases I am interested in:
 - The data was never in the archive. This happens at the start and end of nearly all observations and should not turn into a warning.
 - The data is in the archive but we struggled to retrieve it. This could become a warning,

[2021-08-10 13:40] ludwigschwardt commented on #222
This died of old age.

[2021-08-10 13:40] #222 closed

[2021-09-06 05:18] nhurleywalker opened #345 "Error in van_vleck.py"
Hi,

I've built katdal into an Ubuntu 20.04 container with all the prerequisites installed, and it seems to install fine via

pip3 install git+https://github.com/ska-sa/katdal.git

But when I come to run the mv2ms.py script (in the container), I get the following error:

  File "/usr/local/bin/mvftoms.py", line 38, in <module>
    import katdal
  File "/usr/local/lib/python3.8/dist-packages/katdal

[2021-09-06 05:49] nhurleywalker commented on #345
Aha, I have worked it out. Since it's running in the container it couldn't write to $NUMBA_CACHE_DIR, so I had to export that variable to a writeable directory and bind that when the container. See e.g. https://github.com/numba/numba/issues/4032

[2021-09-06 05:49] #345 closed

[2021-09-15 10:57] bennahugo opened #346 "Populate SIGMA_SPECTRUM"
@landmanbester found the mvftoms populated (Wishart) WEIGHT_SPECTRUM is a very good reflection of the correct weights. However, there is an issue if casa (>=4.4) is used to transfer calibrate / self calibrate.
According to https://casa.nrao.edu/casadocs/casa-5-1.2/reference-material/data-weights the weights are going to reinitialized based on SIGMA (or SIGMA_SPECTRUM), so we should not just have t

[2021-09-15 10:59] bennahugo commented on #346
So after https://github.com/ska-sa/katdal/blob/master/katdal/ms_extra.py#L374 we need to add
[code]
Along with a data descriptor for SIGMA_SPECTRUM

[2021-09-15 11:59] ludwigschwardt commented on #346
Questions:
  - What is the relationship between SIGMA and SIGMA_SPECTRUM?
  - Could I just populate SIGMA_SPECTRUM?
  - If both are provided, are they multiplied together or does SIGMA_SPECTRUM supercede SIGMA?

Maybe I should write both the average SIGMA / WEIGHT and normalised frequency-dependent SIGMA_SPECTRUM / WEIGHT_SPECTRUM...

[2021-09-15 12:07] bennahugo commented on #346
@ludwigschwardt I'm submitting a PR soon, you can review. WEIGHT is just a single value for the entire spectrum per correlation per row, so an average is probably as good as anything. They are not multiplied _SPECTRUM supercedes the singular columns.

[2021-09-15 12:16] bmerry commented on #346
I'm guessing that adding SIGMA_SPECTRUM will make the measurement set significantly larger. What happens if we instead delete the SIGMA column? Is it required? Will CASA behave sensibly without it?

[2021-09-15 12:17] bennahugo commented on #346
no SIGMA and WEIGHT are compulsory columns according to memo 229

[2021-09-15 12:19] ludwigschwardt commented on #346
Or delete WEIGHT_SPECTRUM and let it be initialised from SIGMA_SPECTRUM?

[2021-09-15 12:21] bennahugo commented on #346
hmm - I will need to test whether that will work. I think the safest assumption is to have both - we certainly do not reinitialize WEIGHT_SPECTRUM and most imaging packages do not initialize it either.

[2021-09-15 12:23] ludwigschwardt commented on #346
I haven't even heard of SIGMA_SPECTRUM before, so I'm not holding my breath for wide support in CASA land 😂

[2021-09-15 12:27] bennahugo commented on #346
It is in memo 229 as optional column. For a long time we were wondering why our weight spectrum was being screwed up with casa calibration, so yup - bit obscure but yes calibration assumes it is there when WEIGHT_SPECTRUM is present and imaging assumes either WEIGHT or WEIGHT_SPECTRUM is present - one of the latter two adjusted during calibration. IMAGING_WEIGHTS is completely non-standard but typ

[2021-09-15 12:29] JSKenyon commented on #346
SIGMA_SPECTRUM seems to be optional. To the best of my knowledge, SIGMA is being removed in MSv3 and WEIGHT is being redefined as WEIGHT_SPECTRUM. SIGMA and WEIGHT are completely redundant, provided everything is handled consistently. So the problem in CASA is likely just an implementation detail.

[2021-09-15 12:32] bennahugo commented on #346
Unfortunately it seems if WEIGHT_SPECTRUM is missing and only SIGMA_SPECTRUM is available then CASA (5.1) do not detect that it can derive WEIGHT_SPECTRUM during applycal. So if you use them they should **BOTH** be there

[2021-09-15 13:26] #346 closed

[2022-04-14 09:17] bennahugo commented on #346
No, I have not tested it with casa V6. Do you mind testing that? You can
simply run removecols from casacore.tables on the column and see if
applycal reconstructs it.

My concern with removing it is that older CASA versions do not correctly
handle the spectral weight cases if dropped as discussed on the original
ticket.

I have no problem with dropping imaging_weight here -- it is for the most
par

[2022-04-14 09:27] landmanbester commented on #346
I think the point of having both WEIGHT_SPECTRUM and SIGMA_SPECTRUM is to account for the change in noise properties when making CORRECTED_DATA (as you should when applying gain solutions with non-unity amplitudes). SIGMA_SPECTRUM should refer to the standard deviation of the thermal noise contribution whereas WEIGHT_SPECTRUM contains the weights pertaining to CORRECTED_DATA. These can always be r

[2022-04-14 12:41] ludwigschwardt commented on #346
The question is whether WEIGHT_SPECTRUM should be there from the start (taking up unnecessary space), or whether CASA can fill it in later via e.g. applycal.

[2022-04-27 11:13] Athanaseus opened #354 "BadChunk: Array '1543661287/correlator_data"
I'm trying to download data from the archive using a link with token but it fails with bad chunk array data.

By running:
``` KATSDPTELSTATE_ALLOW_PICKLE=1 mvftoms.py --flags cam -f https://archive-gw-1.kat.ac.za/1543661287/1543661287_sdp_l0.full.rdb?token=********************   ```

Gives the following output:

[code]

System info
---------------
- Ubuntu 18.04
-  Python3
-  Katdal 0.20

[2022-04-27 21:52] ludwigschwardt commented on #354
Thanks @Athanaseus, I've noticed something similar... Bumping this up the queue!

[2022-04-29 13:18] #354 closed

[2022-07-05 06:58] AlecThomson commented on #78
Hi @ludwigschwardt,

Just jumping on this thread - is there any scope for producing a `mstoh5` script? This would be particularly useful for integrating with @mauch 's https://github.com/mauch/KATObitPipe pipeline.

[2022-07-09 21:05] ludwigschwardt commented on #78
That's an interesting idea! The main challenge is to provide a ChunkStore interface to CASA tables (might be easier in MSv3). Parallel reads would be nice but not absolutely necessary since you are typically working off a directory on a single disk and the disk read speed would be the limiting factor.

If you still have the original RDB file lying around, that could serve up the metadata in the us

[2022-09-05 15:20] gigjozsa opened #357 "Dump of hdf5 files on disk"
I haven't found a method yet to dump an hdf5 file as read onto a local disk. So, read a file from the archive with katdal.open, then dump it on the disk as is, to then read it again with katdal.open . If you have a local copy, this makes things much faster if you have to repeat them. If there is such method, I'd appreciate a hint, if not, it might be good to implement it.

[2022-09-05 16:44] ludwigschwardt commented on #357
Hi Josh, you can have a look at the `mvf_copy.py` script in the `scripts` directory. This also allows some rudimentary filtering of the data to avoid copying the data you don't want (I'm still busy expanding the filtering options).

One downside of the script is that it cannot continue with a partial copy after a crash, unlike `mvftoms` and `wget / curl`, as illustrated in the diagram below:

![ar

[2022-09-08 09:53] gigjozsa opened #358 "Simple download does not work"
The following script (tested on several public data sets and on different computers and with different pythons) causes an error:

[code]

This is Python 3.6.9 on an Ubuntu box
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.6 LTS
Release:	18.04
Codename:	bionic
Katdal has been installed using PyPi:

[code]

Results in the error mirrored below. Not sure if this is an error on the server side or on

[2022-09-12 09:55] ludwigschwardt commented on #358
Hi Josh,

The key bit of info is the very last line:
[code]
This dataset is more than a year old. We only keep datasets on disk for 200 days, where katdal can find them. After that, the datasets are shipped off to tape, and you have to request the archive folks to put specific ones back on disk for you. This restaging process may take up to 30 days.

That is why your data is "not currently accessi

[2022-09-12 09:55] #358 closed